<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyanchao.project.mapper.UserMapper">

    <select id="getUserInfo" resultType="com.fuyanchao.project.model.User">
        select name, age,password from useradmin;
    </select>
    <select id="add" resultType="com.fuyanchao.project.model.User">
        INSERT INTO `useradmin`(name,age,password) VALUES (#{name}, #{age},#{password});
    </select>
</mapper>