<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
  <link type="text/css" rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="login">
    <div>
        <input type="text" placeholder="Username" name="username"/>
    </div>
    <div>
        <input type="text" placeholder="Password" name="password"/>
    </div>
    <div>
        <span>
             <input type="checkbox"/>Remember me
        </span>
    <a target="_blank" href="forgetPassword">Forget password?</a>
    </div>
    <div>
    </div>
    <div>
        <a>Login In</a>
        <span>or</span>
        <a>Create an account</a>
    </div>
</div>
</body>
</html>